<!DOCTYPE html>
<html>
<head>
    <title>Cognivara AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h1>@cognivara-ai</h1>
    <p class="tagline">Learn better. Learn simpler.</p>

    <form method="POST" enctype="multipart/form-data">

        <label>Upload PDF</label>
        <input type="file" name="pdf">

        <label>Upload Image</label>
        <input type="file" name="image">

        <label>Paste Text</label>
        <textarea name="text" placeholder="Paste your lesson here..."></textarea>

        <button type="submit">Convert</button>
    </form>
</div>

</body>
</html>

